@use '../mixins/fluid-size' as size;

.badge {
	display: inline-flex;
	@include size.calculate(padding-top, 480px, 1580px, 6px, 8px);
	@include size.calculate(padding-bottom, 480px, 1580px, 6px, 8px);
	@include size.calculate(padding-inline, 480px, 1580px, 8px, 14px);
	border: 1px solid var(--dark-gray);
	border-radius: 1000px;
	background-color: var(--dark-gray);
	@include size.calculate(font-size, 480px, 1580px, 13px, 17px);
	font-weight: 600;
	line-height: 1;
	letter-spacing: -0.01em;
	color: var(--gray-arsenic);
	transition: var(--fast);

	&.zero {
		background-color: transparent;
		border: 1px solid var(--gray-arsenic);
		font-weight: 400;
		color: var(--white);
	}

	&.gray {
		border: 0;
		background-color: var(--gray-silver);
		font-weight: 500;
	}

	&.violet {
		background-color: var(--dark-violet);
		font-weight: 500;
		color: var(--gray);
	}

	&.dark {
		background-color: var(--dark-badge);
		font-weight: 500;
		color: var(--white);
	}

    &.white {
        background-color: var(--white);
        color: var(--black);
    }
}

.badge-group {
	display: flex;
	align-items: center;

	> * + * {
		margin-left: 12px;
	}
}
