@use './mixins/fluid-size' as size;

table {
	--td-space: calc(var(--scale) * 0.6);

	display: table;
	width: 100%;
    overflow-x: auto;
    white-space: nowrap;
	color: var(--black);

	tr {
		cursor: pointer;
        width: 100%;

		&:last-child {
			th,
			td {
				border-bottom: 0;
			}
		}
	}

    th,
    td {
        padding: var(--td-space);
        border: 1px solid var(--gray-arsenic);
        white-space: normal;
        font-weight: 600;
        @include size.calculate(font-size, 480px, 1680px, 10px, 16px);
        line-height: 1.2;
        letter-spacing: -0.03em;

        &:first-child {
            border-left: none;
        }

        &:last-child {
            border-right: none;
        }

        a {
            text-decoration: none;
        }
    }

    @media only screen and (max-width: 780px) {
        display: block;

        td,th {
            max-width: 300px;
        }
    }
}
